@(message: String)(implicit request: RequestHeader)

@main("Welcome to Play 2.0") {

    <div><ul id="messages"></ul></div>
    <script type="text/javascript"  src="@routes.Assets.at("socket.io/dist/socket.io.js")"></script>

    <input type="button" name="Connect" value="Connect" id="connectBtn" />
    <input type="button" name="Disconnect" value="Disconnect" id="disconnectBtn" />


            <br/>
    <input type="text" name="socket" value="0" id="socketNo" />
    <input type="text" name="data" value="data" id="socketData" />
    <input type="button" name="Send message" value="msg" id="msgButton" />
    <input type="button" name="Emit event" value="event" id="eventButton" />
    <input type="button" name="Send JSON" value="JSON" id="jsonButton" />


    <script type="text/javascript">
         $(document).ready(function(){

             $("#connectBtn").click(function(){
                 var socket = [];
                 socket[0] = io.connect();
                 socket[1] = io.connect("/test");


                 socket[1].on("connect", function(){
                    console.log("onSecondSocket");

                     socket[1].on("message", function(msg){
                         console.log(msg);
                         $('#messages').append("<li> 2 --" + msg + "</li>");
                     });

                     socket[1].on("disconnect", function(){
                         console.log(" 2 -- disconnect");
                     });

                     socket[1].on("someEvt", function(data){
                         console.log("someEvt" + data);
                         $('#messages').append("<li>  2 -- someEvt -- " + data + "</li>");
                     });

                 });

                 socket[0].on("connect", function(){
                     console.log("hello ---- ");
                     socket[0].on("message", function(msg){
                        console.log(msg);
                        $('#messages').append("<li>" + msg + "</li>");
                     });

                     socket[0].on("disconnect", function(){
                        console.log("disconnect");
                     });

                     socket[0].on("someEvt", function(data){
                         console.log("someEvt" + data);
                         $('#messages').append("<li> someEvt -- " + data + "</li>");
                     });
                 });

                 $('#msgButton').click(function(){
                     socket[$('#socketNo').val()].send($("#socketData").val());
                 });

                 $('#eventButton').click(function(){
                     socket[$('#socketNo').val()].emit("someEvt", $("#socketData").val());
                 });

                 $('#jsonButton').click(function(){
                     socket[$('#socketNo').val()].json.send({"sockData" : $("#socketData").val()});
                 });

                 $("#disconnectBtn").click(function(){
                     socket[1].disconnect();
                     socket[0].disconnect();
                 });
             });

         });

    </script>

}