@(message: String)(implicit request: RequestHeader)

@main("Welcome to Play 2.0") {

    <div><ul id="messages"></ul></div>
    <script type="text/javascript"  src="@routes.Assets.at("socket.io/dist/socket.io.js")"></script>
    <input type="button" name="hello" value="hello" id="hello" />
    <script type="text/javascript">
         $(document).ready(function(){
             var socket = io.connect("http://127.0.0.1:9000/");


             socket.on("connect", function(){
                 console.log("hello ---- ");
                 socket.on("message", function(msg){
                    console.log(msg);
                    $('#messages').append("<li>" + msg + "</li>");
                 });
             });

             $('#hello').click(function(){
                socket.send(JSON.stringify({message:"hello"}));
             });
         });

    </script>

}